
@blue-color: #007BFF;
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: rgb(209, 227, 243);
}

nav .navbar-nav li a {
    
    color: rgb(0, 0, 0) !important;

}

nav .navbar-nav li a:hover{
    color:rgb(112, 107, 107) !important;
    padding-bottom: 0px;
    border-bottom: 3px solid @blue-color;
    transition: all 0.05s ease-out;
    padding-top: 11px;
}