
@blue-color: #009CDA;
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: rgb(209, 227, 243);
}

nav .navbar-nav li a {
    color: rgb(0, 0, 0) !important;

}

nav .navbar-nav li a:hover{
    color:rgb(112, 107, 107) !important;
    text-decoration: underline;
    text-decoration-color:@blue-color;
    text-decoration-style: solid 1px;
}